DOP.Web/DOP.Data/Service References/DOPService/DOPService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:63406/DOPService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DOP.Service.DTO" />
  <xs:element name="GetAllPersonnel">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPersonnelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DOP.Service.DTO" minOccurs="0" name="GetAllPersonnelResult" nillable="true" type="q1:ArrayOfPersonnelDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonnelByDepartmentId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonnelByDepartmentIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DOP.Service.DTO" minOccurs="0" name="GetPersonnelByDepartmentIdResult" nillable="true" type="q2:ArrayOfPersonnelDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonnelById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonnelByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DOP.Service.DTO" minOccurs="0" name="GetPersonnelByIdResult" nillable="true" type="q3:PersonnelDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllDepartments">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllDepartmentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/DOP.Service.DTO" minOccurs="0" name="GetAllDepartmentsResult" nillable="true" type="q4:ArrayOfDepartmentDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDepartmentByPersonnelId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDepartmentByPersonnelIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/DOP.Service.DTO" minOccurs="0" name="GetDepartmentByPersonnelIdResult" nillable="true" type="q5:DepartmentDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDepartmentById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDepartmentByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/DOP.Service.DTO" minOccurs="0" name="GetDepartmentByIdResult" nillable="true" type="q6:DepartmentDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>