DOP.Web/DOP.Data/Service References/DOPService/PersonnelDepartmentService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PersonnelDepartmentService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1111/DOPService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1111/DOPService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1111/DOPService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DOP.Service.DTO" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPersonnelDepartmentService_GetAllPersonnel_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPersonnel" />
  </wsdl:message>
  <wsdl:message name="IPersonnelDepartmentService_GetAllPersonnel_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPersonnelResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonnelDepartmentService_GetPersonnelByDepartmentId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonnelByDepartmentId" />
  </wsdl:message>
  <wsdl:message name="IPersonnelDepartmentService_GetPersonnelByDepartmentId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonnelByDepartmentIdResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonnelDepartmentService_GetPersonnelById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonnelById" />
  </wsdl:message>
  <wsdl:message name="IPersonnelDepartmentService_GetPersonnelById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonnelByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonnelDepartmentService_GetAllDepartments_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllDepartments" />
  </wsdl:message>
  <wsdl:message name="IPersonnelDepartmentService_GetAllDepartments_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllDepartmentsResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonnelDepartmentService_GetDepartmentByPersonnelId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDepartmentByPersonnelId" />
  </wsdl:message>
  <wsdl:message name="IPersonnelDepartmentService_GetDepartmentByPersonnelId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDepartmentByPersonnelIdResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonnelDepartmentService_GetDepartmentById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDepartmentById" />
  </wsdl:message>
  <wsdl:message name="IPersonnelDepartmentService_GetDepartmentById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDepartmentByIdResponse" />
  </wsdl:message>
  <wsdl:portType name="IPersonnelDepartmentService">
    <wsdl:operation name="GetAllPersonnel">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonnelDepartmentService/GetAllPersonnel" message="tns:IPersonnelDepartmentService_GetAllPersonnel_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonnelDepartmentService/GetAllPersonnelResponse" message="tns:IPersonnelDepartmentService_GetAllPersonnel_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPersonnelByDepartmentId">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonnelDepartmentService/GetPersonnelByDepartmentId" message="tns:IPersonnelDepartmentService_GetPersonnelByDepartmentId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonnelDepartmentService/GetPersonnelByDepartmentIdResponse" message="tns:IPersonnelDepartmentService_GetPersonnelByDepartmentId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPersonnelById">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonnelDepartmentService/GetPersonnelById" message="tns:IPersonnelDepartmentService_GetPersonnelById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonnelDepartmentService/GetPersonnelByIdResponse" message="tns:IPersonnelDepartmentService_GetPersonnelById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllDepartments">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonnelDepartmentService/GetAllDepartments" message="tns:IPersonnelDepartmentService_GetAllDepartments_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonnelDepartmentService/GetAllDepartmentsResponse" message="tns:IPersonnelDepartmentService_GetAllDepartments_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDepartmentByPersonnelId">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonnelDepartmentService/GetDepartmentByPersonnelId" message="tns:IPersonnelDepartmentService_GetDepartmentByPersonnelId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonnelDepartmentService/GetDepartmentByPersonnelIdResponse" message="tns:IPersonnelDepartmentService_GetDepartmentByPersonnelId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDepartmentById">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonnelDepartmentService/GetDepartmentById" message="tns:IPersonnelDepartmentService_GetDepartmentById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonnelDepartmentService/GetDepartmentByIdResponse" message="tns:IPersonnelDepartmentService_GetDepartmentById_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPersonnelDepartmentService" type="tns:IPersonnelDepartmentService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllPersonnel">
      <soap:operation soapAction="http://tempuri.org/IPersonnelDepartmentService/GetAllPersonnel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPersonnelByDepartmentId">
      <soap:operation soapAction="http://tempuri.org/IPersonnelDepartmentService/GetPersonnelByDepartmentId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPersonnelById">
      <soap:operation soapAction="http://tempuri.org/IPersonnelDepartmentService/GetPersonnelById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllDepartments">
      <soap:operation soapAction="http://tempuri.org/IPersonnelDepartmentService/GetAllDepartments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDepartmentByPersonnelId">
      <soap:operation soapAction="http://tempuri.org/IPersonnelDepartmentService/GetDepartmentByPersonnelId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDepartmentById">
      <soap:operation soapAction="http://tempuri.org/IPersonnelDepartmentService/GetDepartmentById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PersonnelDepartmentService">
    <wsdl:port name="BasicHttpBinding_IPersonnelDepartmentService" binding="tns:BasicHttpBinding_IPersonnelDepartmentService">
      <soap:address location="http://localhost:1111/DOPService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>